<table class="table table-condensed col-sm-12 table-sm table-striped table-hover">
 <thead>
  <tr>
  <th class="w-10">#</th>
  <th class="w-70"></th>
  <th class="w-20">Action</th>
  </tr>
</thead>
  <% revise_phase.each_with_index do |revise, index| %>
  <% next if index > 4 %>
  <tr>
    <td><%=index+1%></td>
    <td><%=revise.name %></td>
    <td><%= link_to "revised?", revise_update_path(:revised =>revise.id), data: { confirm: "Are you sure?" }, :class => "btn btn-primary btn-xs"%>
    <%= link_to 'reset', vocab_reset_path(:id => revise), data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs" %></td>
  </tr>
  <% end %>
</table>
